# Python SQL Connection

In [5]:
# Basic libraries
import pandas as pd # data manipulation
import numpy as np # numerical operations
import warnings # warning messages management

# New Libraries
from getpass import getpass # get password without showing it
import pymysql # MySQL connection

# Settings
pd.set_option('display.max_columns', None) # display all columns
warnings.filterwarnings('ignore') # ignore warnings

In [7]:
def create_connection():
    password = getpass("Please, kindly insert your password: ")
    cnx = pymysql.connect(user='root', password=password, host='localhost')
    
    if cnx.open:
        print("Connection successfully opened.")
        print()
        cursor = cnx.cursor()
        cursor.execute("SHOW DATABASES")
        databases = cursor.fetchall()
        print("Available databases:")
        db_list = [db[0] for db in databases]
        for db in db_list:
            print(f"- {db}")
        print()
    else:
        print("Failed to open connection.")
        print()
        return None
    
    while True:
        database = input("Please, kindly insert your database name: ")
        if database in db_list:
            cnx.select_db(database)
            break
        else:
            print("Invalid database name. Please choose from the available databases.")
            print()
    
    return cnx

In [8]:
connection = create_connection() # connecting to mysql workbench

Connection successfully opened.

Available databases:
- AppleDB
- bank
- debora
- events
- information_schema
- LibraryDB
- mysql
- performance_schema
- sakila
- sys
- titanic
- w3schools

In [9]:
df = pd.read_csv("../data/events_cleaned.csv")

In [10]:
connection.select_db("events")
connection.commit()

In [11]:
df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06+00:00,view,1996170,2144415922528452715,electronics.telephone,Unknown,31.90,1515915625519388267,LJuJVLEjPT
1,2020-09-24 11:57:26+00:00,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY

# The tables

The tables and columns were created via the import wizard directly in MySQL workbench

In [12]:
df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [13]:
cursor = connection.cursor()

# Inserting the values

In [14]:
columns = ", ".join(df.columns)
placeholders = ", ".join(["%s"] * len(df.columns))

In [16]:
insert_query = f"""
INSERT INTO events ({columns})
VALUES ({placeholders})
"""

In [17]:
for _, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))
connection.commit()