# Sanity Check
We are testing here on a smaller dataframe (< 1000 rows) the methods to convert the purchase and cart event into features for the view event.

In [28]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath("../.."))
from utils import helper_functions as hf
pd.set_option('display.max_row', None) # display all rows

In [29]:
filepath = 'test_df.csv' 
df = pd.read_csv(filepath) 
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
0,2021-01-14 22:09:05+00:00,view,5913,2144415922167742561,computers.components.hdd,Unknown,49.57,1515915625591659523
1,2021-01-18 15:47:17+00:00,view,5913,2144415922167742561,computers.components.hdd,Unknown,49.57,1515915625591659523
2,2021-01-18 15:47:22+00:00,cart,5913,2144415922167742561,computers.components.hdd,Unknown,49.57,1515915625591659523
3,2021-01-18 16:15:55+00:00,purchase,5913,2144415922167742561,computers.components.hdd,Unknown,49.57,1515915625591659523
4,2021-01-29 13:56:16+00:00,view,5913,2144415922167742561,computers.components.hdd,Unknown,49.57,1515915625591659523

It is very important data is already sorted by user_id, product_id and event_time. Like that the system can go through the rows sequentially

In [30]:
df = df.sort_values(by=['user_id', 'product_id', 'event_time'])

We create a new column df['last_view_before_purchase'] and enter a "1" only when we have the last view event before a purchase event for the same product_id and user_id. As users could purchase the same product_id multiple times, it is important that the marking happens sequentially. so mark every view above a purchase for the same user_id and product_id. the view could be directly above the purchase or other events (like cart) could be inbetween.

In [31]:
# default new column is 0
df['last_view_before_purchase'] = 0

# iterate through the groups of 'user_id' and 'product_id'
def mark_last_view_before_purchase(group):
    purchase_indices = group.index[group['event_type'] == 'purchase'].tolist()
    if not purchase_indices:
        return group

    for purchase_index in purchase_indices:
        # find the last 'view' before 'purchase'
        views_before_purchase = group[(group.index < purchase_index) & (group['event_type'] == 'view')]
        if not views_before_purchase.empty:
            last_view_index = views_before_purchase.index[-1]
            group.at[last_view_index, 'last_view_before_purchase'] = 1

    return group

df = df.groupby(['user_id', 'product_id']).apply(mark_last_view_before_purchase)

In [32]:
print("Current index levels:", df.index.names)

Current index levels: ['user_id', 'product_id', None]

In [33]:
df = df.reset_index(drop=True)

We create a new column df['last_view_before_cart'] and enter a "1" only when we have the last view event before a cart event for the same product_id and user_id.

In [34]:
# default new column is 0
df['last_view_before_cart'] = 0

# function to mark the last view before a cart event
def mark_last_view_before_cart(group):
    cart_indices = group.index[group['event_type'] == 'cart'].tolist()
    if not cart_indices:
        return group

    for cart_index in cart_indices:
        # find the last 'view' before 'cart'
        views_before_cart = group[(group.index < cart_index) & (group['event_type'] == 'view')]
        if not views_before_cart.empty:
            last_view_index = views_before_cart.index[-1]
            group.at[last_view_index, 'last_view_before_cart'] = 1

    return group

# apply the function to each group of user_id and product_id
df = df.groupby(['user_id', 'product_id']).apply(mark_last_view_before_cart)

In [35]:
df = df.reset_index(drop=True)

We create a new column 'already in cart' to the view column if the cart event happened before the view event (without a purchase event inbetween).

In [36]:
# new column is defaulted to 0
df['already_in_cart'] = 0

# function to mark views that follow a cart event without a purchase in between
def mark_view_after_cart(group):
    # get indices of cart and view events
    cart_indices = group.index[group['event_type'] == 'cart'].tolist()
    view_indices = group.index[group['event_type'] == 'view'].tolist()
    
    # iterate over each cart event index
    for cart_index in cart_indices:
        # find the first view after the cart event
        for view_index in view_indices:
            if view_index > cart_index:
                # check if there is a purchase between the cart and the view
                purchase_between = group.loc[cart_index + 1:view_index - 1]['event_type'].eq('purchase').any()
                
                # only mark if there is no purchase event in between
                if not purchase_between:
                    group.at[view_index, 'already_in_cart'] = 1
                break 

    return group

# apply the function to each group of user_id and product_id
df = df.groupby(['user_id', 'product_id']).apply(mark_view_after_cart)

In [37]:
# save the results to a CSV file
df.to_csv('test_df_done.csv', index=False)

In [38]:
df = df.reset_index(drop=True)

In [39]:
hf.create_subset(df, ['event_time', 'event_type', 'user_id', 'product_id', 'last_view_before_purchase', 'last_view_before_cart', 'already_in_cart']).head(67)
# check row 1 for an example of the last_view_before_purchase and last_view_before_cart
# check row 65 for an example of the already_in_cart

,event_time,event_type,user_id,product_id,last_view_before_purchase,last_view_before_cart,already_in_cart
0,2021-01-14 22:09:05+00:00,view,1515915625591659523,5913,0,0,0
1,2021-01-18 15:47:17+00:00,view,1515915625591659523,5913,1,1,0
2,2021-01-18 15:47:22+00:00,cart,1515915625591659523,5913,0,0,0
3,2021-01-18 16:15:55+00:00,purchase,1515915625591659523,5913,0,0,0
4,2021-01-29 13:56:16+00:00,view,1515915625591659523,5913,1,1,0
5,2021-01-29 13:56:23+00:00,cart,1515915625591659523,5913,0,0,0
6,2021-01-29 13:59:28+00:00,purchase,1515915625591659523,5913,0,0,0
7,2021-01-29 14:09:10+00:00,purchase,1515915625591659523,5913,0,0,0
8,2021-01-29 14:29:08+00:00,purchase,1515915625591659523,5913,0,0,0
9,2021-01-28 21:02:59+00:00,view,1515915625591659523,124077,0,0,0
10,2021-02-02 03:36:02+00:00,view,1515915625591659523,130544,0,0,0
11,2021-01-18 15:59:42+00:00,view,1515915625591659523,139339,0,0,0
12,2021-02-02 10:36:54+00:00,view,1515915625591659523,139339,0,0,0
13,2021-02-02 11:05:13+00:00,view,1515915625591659523,139339,0,0,0
14,2021-01-28 14:05:10+00:00,view,1515915625591659523,170754,0,0,0
15,2021-01-28 21:45:19+00:00,view,1515915625591659523,296699,0,0,0
16,2021-01-28 14:17:46+00:00,view,1515915625591659523,412853,0,0,0
17,2021-01-28 14:07:42+00:00,view,1515915625591659523,456859,0,0,0
18,2021-01-31 15:46:40+00:00,view,1515915625591659523,456860,0,0,0
19,2021-02-02 03:32:40+00:00,view,1515915625591659523,456860,0,0,0
20,2021-02-02 03:34:09+00:00,view,1515915625591659523,456860,0,0,0
21,2021-02-02 09:05:56+00:00,view,1515915625591659523,456860,1,1,0
22,2021-02-02 09:09:58+00:00,cart,1515915625591659523,456860,0,0,0
23,2021-02-02 09:10:17+00:00,purchase,1515915625591659523,456860,0,0,0
24,2021-01-11 22:32:08+00:00,view,1515915625591659523,475615,0,0,0
25,2021-01-11 22:24:41+00:00,view,1515915625591659523,478724,0,0,0
26,2021-01-11 22:24:56+00:00,view,1515915625591659523,478724,0,0,0
27,2021-02-01 23:17:24+00:00,view,1515915625591659523,478724,0,0,0
28,2021-01-31 15:50:36+00:00,view,1515915625591659523,576602,0,0,0
29,2021-01-31 16:18:44+00:00,view,1515915625591659523,576602,0,0,0
30,2021-02-02 03:36:51+00:00,view,1515915625591659523,576602,0,0,0
31,2021-01-14 23:13:51+00:00,view,1515915625591659523,595970,0,0,0
32,2021-01-28 14:09:28+00:00,view,1515915625591659523,597567,0,0,0
33,2021-01-31 15:51:24+00:00,view,1515915625591659523,628152,0,0,0
34,2021-01-14 23:08:45+00:00,view,1515915625591659523,668810,0,0,0
35,2021-01-28 14:03:20+00:00,view,1515915625591659523,696706,0,0,0
36,2021-01-28 14:09:07+00:00,view,1515915625591659523,736580,0,0,0
37,2021-01-31 15:46:28+00:00,view,1515915625591659523,736580,0,0,0
38,2021-01-31 16:13:21+00:00,view,1515915625591659523,736580,0,0,0
39,2021-02-01 12:33:33+00:00,view,1515915625591659523,736580,0,0,0
40,2021-02-02 03:31:19+00:00,view,1515915625591659523,736586,0,0,0
41,2021-01-28 14:14:31+00:00,view,1515915625591659523,799067,0,0,0
42,2021-01-28 14:06:16+00:00,view,1515915625591659523,799642,0,0,0
43,2021-02-02 10:57:01+00:00,view,1515915625591659523,811776,0,0,0
44,2021-01-31 15:49:26+00:00,view,1515915625591659523,820227,0,0,0
45,2021-01-22 21:57:51+00:00,view,1515915625591659523,822452,1,1,0
46,2021-01-22 21:58:04+00:00,cart,1515915625591659523,822452,0,0,0
47,2021-01-22 21:59:01+00:00,purchase,1515915625591659523,822452,0,0,0
48,2021-02-02 09:53:02+00:00,view,1515915625591659523,822452,0,0,0
49,2021-01-28 14:05:37+00:00,view,1515915625591659523,824149,0,0,0
50,2021-02-01 23:19:42+00:00,view,1515915625591659523,840623,0,0,0
51,2021-01-26 21:49:27+00:00,view,1515915625591659523,845500,0,0,0
52,2021-02-01 23:24:26+00:00,view,1515915625591659523,867060,0,0,0
53,2021-02-02 03:30:47+00:00,view,1515915625591659523,868207,0,0,0
54,2021-01-31 13:29:04+00:00,view,1515915625591659523,877060,0,0,0
55,2021-02-01 21:39:18+00:00,view,1515915625591659523,877060,0,0,0
56,2021-01-14 23:11:19+00:00,view,1515915625591659523,889247,0,0,0
57,2021-01-10 22:11:42+00:00,view,1515915625591659523,893196,0,1,0
58,2021-01-10 22:12:06+00:00,cart,1515915625591659523,893196,0,0,0
59,2021-01-10 22:25:37+00:00,view,1515915625591659523,893196,0,0,1
60,2021-01-18 19:54:25+00:00,view,1515915625591659523,893196,0,0,0
61,2021-01-28 21:30:22+00:00,view,1515915625591659523,893196,0,0,0
62,2021-01-31 13:21:28+00:00,view,1515915625591659523,893196,0,0,0
63,2021-02-01 21:41:08+00:00,view,1515915625591659523,893196,0,1,0
64,2021-02-01 21:41:13+00:00,cart,1515915625591659523,893196,0,0,0
65,2021-02-01 21:41:28+00:00,view,1515915625591659523,893196,1,0,1
66,2021-02-01 21:42:21+00:00,purchase,1515915625591659523,893196,0,0,0